<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>edit Car</title>
    <form th:method="PATCH" th:action="@{/identities/{id}(id=${Car.getId()})}" th:object="${Car}">
        <label for="name">Enter name:</label>
        <input type="text" th:field="*{name}" id="name"/>
        <br/>
        <label for="age">Enter age:</label>
        <input type="text" th:field="*{age}" id="age"/>
        <br/>
        <label for="price">Enter price:</label>
        <input type="text" th:field="*{price}" id="price"/>
        <br/>
        <label for="modelInf">Enter modelInf:</label>
        <input type="text" th:field="*{modelInf}" id="modelInf"/>
        <br/>


        <input type="submit" value="Update!"/>
    </form>
</head>
<body>

</body>
</html>